<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>First full stack project</title>
  <link rel = "stylesheet" href="style.css">
</head>


{{> header }}

{{{ body }}}

{{> footer}}

<script id="entry-template" type="text/x-handlebars-template"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="canvas.js"></script>

        <script src="bcrypt.js"></script>
</body>

<html>
