<img src ="smoke.jpg" width= "200px" height = "100px">
<h3> Please Login.</h3>
<div> Email Address
<input name="email" placeholder="Email Address">
</div>
<div> Password
    <input name="Password" type="password" placeholder="Password">
</div>
<button> Login </button>
