<!-- {{#if errorMessage}}
<br>
 <!-<div class name="error">SORRY! It seems your email address or Password is wrong.Please check your login details.</div> -->
<!-- {{/if}}  -->
<br>
{{errorMessage}}
<img src ="SMOKE.jpg" width= "200px" height = "100px">
<h3> Please Login.</h3>
<form class="form" method="POST">
<div> Email Address
<input name="email" placeholder="Email Address">
</div>
<div> Password
    <input name="password" type="password" placeholder="Password"autocomplete="off">
</div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button> Login </button>
</form>
