
<h3>Sign our petition to make SMOKING in public places a criminal offence!</h3>
<P>
    <ul>Smoking in public places affect the people near the somkers, especially the children.</ul>
</P>
    <p>{{count}} persons have already signed the petition</p>

<img src ="smoke.jpg" width= "200px" height = "100px">
{{#if error}}
<div class name="error">SORRY! It seems like you did not sign the petition.</div>
{{/if}}
<form method="POST">

            <!-- <div> First Name
            <input name = "first" placeholder="FirstName">
        </div>
        <div> Last Name
        <input name = "last" placeholder="LastName"autocomplete="off" autofocus>
        </div> -->
        <input id="sig-field" type = "hidden" name ="sign" autocomplete="off">
        <input name ="_csrf" type="hidden" value="{{csrfToken}}">
        <!-- // it return the token -->
        <canvas id="canvas" width="490" height="120"></canvas>
        <label for="signature" class="label">sign here</label>
        <button> Submit </button>

</form>
