

<a class="logout" href="/logout">Logout</a>
<p>All of these people supported our cause !</p>
<h3> Here is the signer list:</h3>
<ul>
{{#each signers }}

    <li> {{first}} {{last}} </li>

{{/each}}
</ul>
