<!-- {{> header}} -->

<div>Hey <em>{{first}}</em>, Thanks for signing the petition</div>
<img src ="smoke.jpg" width= "200px" height = "100px">
<h1> Thanks for your signature.!</h1>
<img src={{signature}} class="img_signed" ></img>
<br>
<a href="/signers">see all {{count}} signers</a>
<br>
<a href="/editProfile"> Edit your profile.</a>
<br>
<a href="/delete">Delete your Signature</a>
<br>
 <a class="logout" href="/logout">Logout</a>
