<!-- {{> header}} -->
- <a class="logout" href="/logout">Logout</a>
<div>Hey <em>{{name}}</em>, Thanks for signing the petition</div>
<img src ="smoke.jpg" width= "200px" height = "100px">
<h1> Thanks for your signature.!</h1>
<img src={{signature}} class="img_signed" ></img>
<a href="/signers">see all<em> {{count}}</em> signers</a>
